<div class="fields">
  <div>
    <!-- fields -->
    <%= f.input :name , :html => {:"type" => 'file', :"accept" => 'image/*', :"capture" => 'camera'}%>
    <!-- x icon to remove -->
    <%= f.link_to_remove("x") %>
  </div>
</div>
