/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require normalize
 *= require skeleton
 *= require jquery.ui.all
*= require_self



 */
/*==================================================
FONTS
==================================================*/

@font-face { font-family: AvenirNextLTPro; src: url('AvenirNextLTPro-Regular.otf'); }

@font-face { font-family: Henri-didot; src: url('henri-didot.regular.otf'); }



*{
  font-family: AvenirNextLTPro;
}

html, body{
  font-family: AvenirNextLTPro;
}

a{
  color: #000;
  text-decoration: none;
}
a:hover{
  color: #000;
  border-bottom: solid #000;
  padding-bottom: .2rem;
}


footer{
  text-align: center;
  padding-top: 1rem;
}

div#title h1{
  font-family: Henri-didot;
  letter-spacing: 1rem;
  font-size: 7.5rem;
  padding-top: 10%;
  margin-bottom: 0;
}

p#blurb{
  font-size: 15pt;
  letter-spacing: .6rem;
}

#nav .row ul {
  margin-bottom: 5rem;
}

.nav_menu li {
  list-style-type: none;
  display: inline-block;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}
.nav_menu{
  text-align: right;
}

#login {
  float: right;
  text-align: right;
}

input, select, textarea, input[type="text"]{
  width: 100%;
  border: 1px solid #000;
  border-radius: 0;
}

input, select, textarea, input[type="text"]:hover{
  transition: border .5s;
}


textarea{
  height: 50%;
}

input[type="submit"]{
  background-color: #000;
  color: #fff;
  border-radius: 0;
  max-width: 125px;
}

.primary{
  background-color: #000;
  color: #fff;
  border-radius: 0;
}
.full{
  width: 100%;
}

.secondary{
  background-color: #fff;
  color: #000;
  border-radius: 0;
  border: 1px solid #000;
}
button, .button{
  min-width: 125px;
}

input[type="submit"]:hover{
  background-color: #33C3F0;
  color: #fff;
  border: none;
  transition: background-color .5s, color .5s;
}

.primary:hover{
  background-color: #33C3F0;
  color: #fff;
  border: none;
  transition: background-color .5s, color .5s;
}
.secondary:hover{
  color: #33C3F0;
  border: 1px solid #33C3F0;
  transition: color .5s, border .5s;
}

.last{
  margin-right: 0;
}
.attach_file{
  border: none;
  margin: 5px;
}

#doc_list_title{
  margin-bottom: 5px;
}

.num_yes{
  color: #89E894;
}
.num_no{
  color: #FF6861;
}

#vote-form{
  z-index: 1000;
  text-align: center;
}
#vote_yes{
  color: #89E894;
  padding-right: 10px;
}
#vote_no{
  color: #FF6861;
  padding-left: 10px;
}
.vote_section{
  font-size: 24pt;
}

/*==================================================
JQUERY UI DIALOG STYLING
==================================================*/
.ui-widget-header, .ui-dialog-titlebar{
  background-color: #fff;
  border: none;
}

/*==================================================
MOBILE
==================================================*/
@media only screen and (max-width:940px){
  div#title{
    text-align: center;
  }

  .nav_menu{
    text-align: center;
  }

  p#blurb{
    text-align: center;
  }

  .navHalf{
    text-align: center;
  }


@media only screen and (max-device-width: 980px){
  div#title{
    text-align: center;
  }

  .nav_menu{
    text-align: center;
  }

  p#blurb{
    text-align: center;
  }

  .omega{
    margin-left: 0;
  }

}
