/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require normalize
 *= require skeleton
 */

/*@font-face {
  font-family: 'A';
  src: font-url('AvenirNextLTPro-Regular.otf') format('opentype');
  font-weight: normal;
font-style: normal;
}*/

@font-face { font-family: testfont; src: url('AvenirNextLTPro-Regular.otf'); }

@font-face { font-family: testfont2; src: url('henri-didot.regular.otf'); }

*{
  font-family: testfont ;
}
a:link {
    text-decoration: none;
}

footer{
  font-family: testfont;
  text-align: center;
}

div#title h1{
  font-family: testfont2;
  letter-spacing: 1rem;
  font-size: 7.5rem;
  padding-top: 10%;
}
#nav{
  height: 100%;
}

#nav ul li {
  list-style-type: none;
  display: inline-block;
  margin-left: 3rem;
  float: right;
}
#nav ul{
  margin-bottom: 5rem;
}

#login {
  float: right;
}
