
<%= simple_form_for @vote, remote: true do |f|   %>

  <%= f.text_field  :decision, :id => 'decision', :style => 'visibility: hidden'%>
  <a href="#" class = "button primary" onclick="document.getElementById('decision').value = 'yes'; console.log('yes...'); document.getElementById('voteSubmit').click(); return false;" >Yes</a>
  <a href="#" class = "button primary" onclick="document.getElementById('decision').value = 'no'; console.log('yes...'); document.getElementById('voteSubmit').click(); return false;" >No</a>
  <%= f.hidden_field :case_id %>

  <%= f.button :submit, :id => 'voteSubmit', :value => 'Done', :style => 'visibility: hidden'                           %>
<% end %>
